---
- name: install tools (linux)
  ansible.builtin.package:
    name: 
      - "borg"
      - "fzf" # fuzzy search
      - "git"
      - "git-delta"
      - "git-absorb"
      - "github-cli"
      - "guake"  # terminal
      - "tilda"  # terminal, preconfigured in mydotfiles
      - "htop" 
      - "httpie" # CLI http client
      - "jq" # JSON TOOL
      - "make"
      - "ncdu" # disk usage
      - "netcat" 
      - "openvpn"
      - "pandoc"
      - "pdftk" # use this mostly to concatenate pdfs
      - "pgcli" # postgres client
      - "poetry" # python dependency management and virtual environment
      - "uv" # python dependency management and virtual environment
      - "nodejs"
      - "npm"
      - "ripgrep" # regex tool
      - "syncthing"
      - "tlpui" # power management
      - "tmux"
      - "vim"
      - "helix"
      - "yadm" # dotfile management
      - "zsh"
      - "zsh-syntax-highlighting"
      - "direnv"
    state: present
  become: true
  when: ansible_facts.os_family == "Debian" or ansible_facts.os_family == "RedHat" or ansible_facts.os_family == "Archlinux"


- name: "Install php"
  ansible.builtin.package:
    name: 
      - "php" 
      - "php-xsl" 
      - "php-gd" 
  become: true
  when: ansible_facts.os_family == "Debian" or ansible_facts.os_family == "RedHat" or ansible_facts.os_family == "Archlinux"


- name: "Install toys"
  ansible.builtin.package:
    name: 
      - "lolcat"
      - "cowsay"
      - "neofetch"
      - "termusic"
  become: true
  when: ansible_facts.os_family == "Debian" or ansible_facts.os_family == "RedHat" or ansible_facts.os_family == "Archlinux"

- name: "Install docker"
  ansible.builtin.package:
    name: 
      - "docker"
      - "docker-compose"
  become: true
  when: ansible_facts.os_family == "Debian" or ansible_facts.os_family == "RedHat" or ansible_facts.os_family == "Archlinux"

- name: "Install the silver searcher aka ag with pacman"
  community.general.pacman:
    name: the_silver_searcher
    state: present
  become: true
  when: ansible_os_family == "Archlinux"
