---
- ansible.builtin.include_tasks: install_core.yaml
- ansible.builtin.include_tasks: install_ohmyzsh.yaml
- ansible.builtin.include_tasks: install_tmux.yaml
- ansible.builtin.include_tasks: yadm_init_linux.yaml
- ansible.builtin.include_tasks: set_default_shell.yaml
- ansible.builtin.include_tasks: remap_capslock.yaml
- ansible.builtin.include_tasks: replace_layout_image.yaml
